[tool.poetry]
name = "fibsem-tools"
version = "4.0.1"
description = "Tools for processing FIBSEM datasets"
authors = ["Davis Vann Bennett <davis.v.bennett@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
distributed = ">=2021.10.0"
h5py = "^3.1.0"
fsspec = ">=2022.2.0"
zarr = "^2.10.3"
mrcfile = "^1.2.0"
numpy = "^1.20.0"
xarray = ">=2022.03.0"
pydantic = "^1.8.2"
backoff = "^1.10.0"
s3fs = ">=2022.2.0"
xarray-ome-ngff = "^1.2.0"
pint = "^0.20.1"
xarray-multiscale = "^2.0.0"
tifffile = "^2023.2.28"
pydantic-ome-ngff = "^0.2.0"
click = "^8.1.3"
dask = "^2023.3.2"
textual = "^0.16.0"
aiohttp = "^3.8.4"
httpx = {extras = ["http2"], version = "^0.23.3"}
xarray-datatree = "^0.0.12"


[tool.poetry.group.dev.dependencies]
pytest = "^6.1.2"
pytest-cov = "^3.0.0"
pre-commit = "2.21.0"
mypy = "^1.1.1"
requests = "^2.28.2"

[tool.poetry.scripts]
tiff2zarr = 'fibsem_tools.cli.tiff2zarr:run'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
plugins = [
  "pydantic.mypy"
]

follow_imports = "normal"
warn_redundant_casts = true
warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
no_implicit_reexport = true

# for strict mypy: (this is the tricky one :-))
disallow_untyped_defs = true

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true
warn_untyped_fields = true
