[tool.poetry]
name = "fibsem-tools"
version = "0.2.8"
description = "Tools for processing FIBSEM datasets"
authors = ["Davis Vann Bennett <davis.v.bennett@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7.1, <4"
distributed = "2021.07.2"
tensorstore = "^0.1.8"
h5py = "^3.1.0"
fsspec = "2021.07.0"
zarr = "^2.9.5"
mrcfile = "^1.2.0"
dacite = "^1.6.0"
numpy = "^1.20.0"
pandas = "^1.2.3"
xarray = "^0.18.0"
pydantic = "^1.8.2"
backoff = "^1.10.0"
xarray-multiscale = "^0.2.1"
tinybrain = "^1.2.1"
dask-jobqueue = "0.7.3"
s3fs = "^2021.7.0"

[tool.poetry.dev-dependencies]
mypy = "^0.790"
black = "^20.8b1"
pytest = "^6.1.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
