[tool.poetry]
name = "fibsem-tools"
version = "0.1.11"
description = "Tools for processing FIBSEM datasets"
authors = ["Davis Vann Bennett <davis.v.bennett@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
distributed = "^2021.1.1"
tensorstore = "^0.1.8"
h5py = "^3.1.0"
s3fs = "^0.5.1"
fsspec = "^0.8.4"
zarr = "^2.6.1"
mrcfile = "^1.2.0"
dacite = "^1.6.0"

[tool.poetry.dev-dependencies]
mypy = "^0.790"
black = "^20.8b1"
pytest = "^6.1.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
