[tool.poetry]
name = "fibsem-tools"
version = "0.2.2"
description = "Tools for processing FIBSEM datasets"
authors = ["Davis Vann Bennett <davis.v.bennett@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7.1, <4"
distributed = "^2021.1.1"
tensorstore = "^0.1.8"
h5py = "^3.1.0"
s3fs = "^2021.4.0"
fsspec = "^2021.4.0"
zarr = {git = "https://github.com/d-v-b/zarr-python.git", branch="opt_setitem_fill_value"}
mrcfile = "^1.2.0"
dacite = "^1.6.0"
numpy = "^1.20.0"
pandas = "^1.2.3"
xarray = "^0.18.0"
pydantic = "^1.8.2"

[tool.poetry.dev-dependencies]
mypy = "^0.790"
black = "^20.8b1"
pytest = "^6.1.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
